.generator-content {
    height:100px;
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    background-color: rgba(235, 213, 179, 0.6);
    font-style: italic;
    user-select: none;
    margin-bottom: 12px;
}

/* .generator-content:not(:last-child) {
    border-bottom: 0px;
} */

/* .generator-content:not(:first-child) {
    border-top: 0px;
} */

.generator-name-amount {
    font-size: 30px;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}

.generator-cost-prod{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 22px;
}
