

.app {
    display: flex;
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

.first-block, .second-block, .generators-block {
    width: 300px;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    margin: 20px;
}